[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
flask = "*"
scikit-learn = "*"
waitress = "*"
requests = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"
awsebcli = "*"

[requires]
python_version = "3.10"
